<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tonny</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/header.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
  </head>
  <body>
    <header>
      <a class="logo" href="{{ url_for('views.home') }}">Mate Tonny</a>
      <nav id="navbar">
        <ul class="navbar">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Home</a></li>
        </ul>
      </nav>
      <button class="hamburgerMenuBtn" id="hamburgerMenuBtn">
        <img
          src="{{ url_for('static', filename='images/burger-menu.svg') }}"
          alt="hamburger menu icon"
          width="40"
        />
      </button>
      <div class="hamburgerMenu hidden" id="hamburgerMenu">
        <nav>
          <ul class="hamburgerMenuNavbar">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <script src=" {{ url_for('static', filename='js/script.js') }} "></script>
  </body>
</html>
