<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tonny</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/footer.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
  </head>
  <body>
    <header>
      <a class="logo" href="{{ url_for('views.home') }}">Mate Tonny</a>
      <nav id="navbar">
        <ul class="navbar">
          <li><a href="{{ url_for('views.home') }}#about">About</a></li>
          <li><a href="{{ url_for('views.projects') }}">Projects</a></li>
          <li><a href="{{ url_for('views.home') }}">Home</a></li>
          <li><a href="{{ url_for('views.utilities') }}">Utilities</a></li>
        </ul>
      </nav>
      <button class="hamburgerMenuBtn" id="hamburgerMenuBtn">
        <img
          src="{{ url_for('static', filename='images/burger-menu.svg') }}"
          alt="hamburger menu icon"
          id="hamburgerMenuIcon"
          width="40"
        />
      </button>
    </header>
    <div class="hamburgerMenu folded" id="hamburgerMenu">
      <nav>
        <ul class="hamburgerMenuNavbar">
          <li><a href="{{ url_for('views.home') }}#about">About</a></li>
          <li><a href="{{ url_for('views.projects') }}">Projects</a></li>
          <li><a href="{{ url_for('views.home') }}">Home</a></li>
          <li><a href="{{ url_for('views.utilities') }}">Utilities</a></li>
        </ul>
      </nav>
    </div>

    <script src=" {{ url_for('static', filename='js/header.js') }} "></script>

    <div class="introBackground">
      <section class="introSection">
        <div class="intro">
          <h2>Welcome to my website!</h2>
          <p>
            This is a website i made using a python(with the
            <a
              href="https://flask.palletsprojects.com/en/3.0.x/"
              target="_blank"
              >flask</a
            >
            library) backend and HTML, CSS and JS frontend. Here you can see my
            projects and some useful utilities.
          </p>
        </div>
      </section>
    </div>

    <section id="about">
      <div class="about">
        <div class="aboutPage">
          <h3>How this page works</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit
            tempora ab molestias doloremque pariatur repellendus sed natus odit
            aliquid, quasi maiores, illo iure laborum nam dignissimos, ullam
            quidem unde libero.
          </p>
        </div>
        <div class="aboutMe">
          <h3>About me</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit
            tempora ab molestias doloremque pariatur repellendus sed natus odit
            aliquid, quasi maiores, illo iure laborum nam dignissimos, ullam
            quidem unde libero.
          </p>
        </div>
      </div>
    </section>

    <hr />

    <div class="githubDisplay">
      <img
        src="{{ url_for('static', filename='images/github-logo.png') }}"
        alt="github logo"
        height="150"
      />
      <div class="titleTextWrapper">
        <h3>See On Github</h3>
        <p>
          The code of this page is open source and you can see it on github with
          <a href="https://github.com/matetonny/My-page">this</a> link. You can
          see more information about this page there.
        </p>
      </div>
    </div>

    <hr />

    <a href="{{ url_for('views.projects') }}#projects" class="seeMyProjects"
      >See My Projects &gt</a
    >

    <footer>
      <p>Made by Mate Chocheli - 2024</p>
      <p>
        Made using python, flask, html, css and js.<br /><a
          href="https://github.com/matetonny/My-page"
          >See on github.</a
        >
      </p>
    </footer>
  </body>
</html>
