<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mate Transport</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/mate_transport.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
  </head>
  <body>
    <header>
      <h1>Mate's page</h1>
      <nav>
        <ul>
          <li><a href="#">Mate Transport</a></li>
          <li><a href="{{ url_for('views.home') }}">Home</a></li>
          <li>
            <a href="{{ url_for('views.pnda') }}">P.N.D.A</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="intro">
      <h2>Welcome to Mate Transport™</h2>
      <p>
        On this page you can find items to buy from Mate Transport(originaly
        known as mategadamzidi.com). The items will be packaged and delivered
        straight from <a href="{{ url_for('views.pnda') }}">PNDA</a> HQ.
      </p>
    </div>
    <div class="whyus">
      <h2>Why us?</h2>
      <p>
        We deliver the highest quality hand made products manufactured, packaged
        and sent from <a href="{{ url_for('views.pnda') }}">PNDA</a> HQ. Also
        you don't need to pay real money to buy them you only need Mate Coins.
      </p>
    </div>
    <div hidden="hidden">
      {% for key,value in form_data.items() %}
      <h2>{{key}}</h2>
      <p>{{value}}</p>
      {% endfor %}
    </div>
  </body>
</html>
