<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tonny</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/projects.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/footer.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
  </head>
  <body>
    <header>
      <a class="logo" href="{{ url_for('views.home') }}">Mate Tonny</a>
      <nav id="navbar">
        <ul class="navbar">
          <li><a href="{{ url_for('views.home') }}#about">About</a></li>
          <li><a href="{{ url_for('views.home') }}">Contact</a></li>
          <li><a href="{{ url_for('views.home') }}">Home</a></li>
        </ul>
      </nav>
      <button class="hamburgerMenuBtn" id="hamburgerMenuBtn">
        <img
          src="{{ url_for('static', filename='images/burger-menu.svg') }}"
          alt="hamburger menu icon"
          id="hamburgerMenuIcon"
          width="40"
        />
      </button>
    </header>
    <div class="hamburgerMenu folded" id="hamburgerMenu">
      <nav>
        <ul class="hamburgerMenuNavbar">
          <li><a href="{{ url_for('views.home') }}about">About</a></li>
          <li><a href="{{ url_for('views.home') }}">Contact</a></li>
          <li><a href="{{ url_for('views.home') }}">Home</a></li>
        </ul>
      </nav>
    </div>

    <script src=" {{ url_for('static', filename='js/header.js') }} "></script>

    <div class="introBackground">
      <section class="introSection">
        <div class="intro">
          <h2>See my projects.</h2>
          <p>
            On this page you can see the projects ive made and their showcases.
            Ive made software and hardware projects and you can see their code
            and photos.
          </p>
        </div>
      </section>
    </div>

    <section id="projects">
      <ul class="projectList">
        <li class="project"></li>
        <li class="project"></li>
        <li class="project"></li>
      </ul>
    </section>

    <footer>
      <p>Made by Mate Chocheli - 2024</p>
      <p>
        Made using python, flask, html, css and js.<br /><a
          href="https://github.com/matetonny/My-page"
          >See on github.</a
        >
      </p>
    </footer>
  </body>
</html>
