h2 {
  font-size: 2.85rem;
  margin: 1rem 0 1rem 0;
}

h3 {
  font-size: 2rem;
}

.utilityList li {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: #bbb dashed 3px;
}

.utilHeader {
  margin: 2rem 0 2rem 5rem;
}

.introTextWrapper {
  width: 40rem;
  margin: 2rem 0 0 3rem;
}

.utilityIntro {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.utilityIntro p {
  font-size: x-large;
}

.utilityIntro img {
  width: 20rem;
}

.utilityList {
  padding: 0;
  border-top: #bbb dashed 3px;
}

.calculatorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
}

.calculator {
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.display {
  background-color: #222;
  color: rgb(203, 203, 203);
  font-size: 2em;
  padding: 20px;
  text-align: right;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calcBtn {
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.calcBtn:hover {
  background-color: #eee;
}

.calcBtn:active {
  background-color: #ccc;
}

.currencyExchangeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.currencyExchange {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.currencyExchange p {
  display: inline;
}

input, select, .exchangeBtn {
  padding: 10px;
  margin: 10px 0;
  width: 18rem;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input {
  width: 16.5rem;
}

.exchangeBtn {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.exchangeBtn:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
}

@media only screen and (max-width: 762px) {
  .utilityIntro {
    justify-content: center;
  }

  .utilityIntro img {
    width: 15rem;
  }

  .introTextWrapper {
    margin: 0.5rem 1rem 0 1rem;
  }

  .utilHeader {
    margin: 0;
    text-align: center;
  }

  h3 {
    font-size: x-large;
  }
}
